<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

<script>

  var seriesData = <%= @data.to_json.html_safe %>;
  
  var dataDays = _.map(seriesData, function(metric){
    return _.map(metric.points, function(point){ return point[0];});
  });

  var days = _.chain(dataDays)
    .flatten()
    .unique()
    .reverse()
    .value();

  var series = [];

  _.each(seriesData, function(data){
    var serieData = { name: data['metric'][0] + "-" + data['metric'][1], data: []};

    _.each(days, function(day){
      element = _.find(data['points'], function(point){ return (point[0] === day) });
      serieData['data'].push((element != null) ? element[1] : null)
    });

    series.push(serieData);
  });

$(function () {
        $('#container').highcharts({
            chart: {
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: 'Shopify Capacity',
                x: -20 //center
            },
            xAxis: {
                categories: days
            },
            yAxis: {
                title: {
                    text: 'RPM'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ' RPM'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: series
        });
    });
</script>

