
<script>
var margin = {top: 20, right: 20, bottom: 30, left: 50},
    width = 400 - margin.left - margin.right,
    height = 250 - margin.top - margin.bottom;

  var rendered = {};

  function render_graph(data) {

    if (rendered[data.index] == true) {
      return
    }

    points = data.points

    nv.addGraph(function() {
      var chart = nv.models.discreteBarChart()
         .x(function(d) { return d[0] })
         .y(function(d) { return d[1] })
         .staggerLabels(true)
         .tooltips(false)
         .showValues(true)

      d3.select('#graph-' + data.index + " svg")
         .datum(points)
         .transition().duration(500)
         .call(chart);

      nv.utils.windowResize(chart.update);

      return chart;
    });

   }

   function render_snippet(data) {
    $('#graphs').append(['<div class="row">',
      '<div class="metric span4">',
        'Role: ' + data.metric[0]  + '<br />',
        'Metric: ' + data.metric[1] + '<br />',
      '</div>',
      '<div id="graph-' + data.index + '" class="span8"><svg style="height:500px"> </svg></div>',
    '</div>'
    ].join("\n"));
    render_graph(data);
   }

function render_conclusion(data) {
  $('#conclusion').html(['<span class="rpm">' + data.host + '</span> will exhaust ',
      '<span class="rpm">' + data.name + '</span> at ',
      '<span class="rpm">' + data.prediction + '</span> RPM'].join(''))
}

d3.json("/data.json", function (data, error) {
  if (data.length == 0) {
    return;
  }
  
   d3.select("body").selectAll("p")
     .data(data)
     .enter()
     .append("p")
     .each(render_snippet);

});

</script>

<div id="conclusion">
  <marquee>Loading...</marquee>
</div>
<div id="graphs"></div>
