// Place all the styles related to the capacity controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { color:#232323; background-color:#dedede; text-align:center; padding-top:20px; }

.conclusion { font-size:20px; }
.rpm {font-size:140%;}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.metric {
  text-align:left;
  padding-left: 15px;
  padding-top: 15px;
}

